.folium-map {
    background-color: silver;
}
.foliumtooltip {

}
.foliumtooltip table{
    margin: auto;
}
.foliumtooltip tr{
    text-align: left;
}
.foliumtooltip th{
    padding: 2px; padding-right: 8px;
}