:root{
    --mapHeight: 550px;
    --mapWidth: 1000px;
}
/* maps 2001 */
#map_c578f79cf859db647e73751c203a0ee1, #map_d3deb3fd9898c2dbbe4ca808ae3510b0,
#map_61284ec5237c4c5aae3dedd84f84c8b8, #map_e40ea4f3d913022a9cc378d0d5f016d1,
#map_e09a536487ae91499bcc8f1d9f92c1b8, #map_7c802ad0fcb734797ed2a93d9d258e57,
#map_23815b46d933e4b83be64e6b9bf2ff13, #map_f6573f9c9e66f6f3b69f5ab8fc3d81f9,
#map_443bc4255319097bae7e348fa0ebe223, #map_b3cbca5ed24894554fb9554784ce3525,
#map_1c42f1ec3db97444051b13cfe14beddd, #map_db405dcb7e3e717f640bbeac04a7f6e8,
#map_3307d75fd19d5b2046b3a7b2345e733e, #map_f4c37b6376d203f18393fd1e93219be3,
#map_ed655ea60a812dbd0a4ef91a64099790, #map_768bce02f9ae4d309aadaed1806ec1f5,
#map_6c9dc15eb721cb99a64c92c8f5a86922, #map_5f265895a3c935c19df90b871a6057ba,
#map_11c0ba9aa54250bf342349496974b5be{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps 1989 */
#map_1e42cafe77e169de12a2e1db8c03468f, #map_2a78f0accd57b8e45606d9d6cacc5233,
#map_7f00797c7099efb02530ceedec6e4ddd, #map_66b643703b71b565b87c5f51ac38e1d6,
#map_1de5cc021685b8de68cb5581b41075dc, #map_f43cc2d3468d4c6c913e2612ff327e08,
#map_33cd1980b057b7ab65d50c04de25b5ba, #map_eb95a3f644d23dd7f3a5901e75bd39aa,
#map_eb3ad9432e89460360aa7605bc883653, #map_d887004b7d9855ac8a20303babdb55b8,
#map_2cdf0c6b98501c3ee69a9c9cfce0c111, #map_4e9eb3e24247371881497935169307e8,
#map_f01030deeb2c5915687d14fd1587ad5c, #map_7d4bc42111a07ceec13c324f6054298e,
#map_01ca5f1783ed5b197b8b1c61e6c6497e, #map_8a5dbf6cfce314e3bbad26003b62c930,
#map_eceb16bccd0bebd8c2408c2e7636b0d6, #map_2e2e5111f97dbc5c32f6e2ad99938b6c,
#map_dcfc578983faab4b7da4f239f7f94ef7, #map_60de2f4233ad759fd14b59201dea6ad4,
#map_69b38b0a3a13b5b6756638110e4ded79, #map_e4c3715cbf63832f791a17bc4bf825be,
#map_18bea5a9f4082a57441994def17595c6, #map_5ab6e16ed9e2cec567025824ba999d67,
#map_6d542b3445acbe0f29c3b97aba5888d4, #map_8594fceef1eb276e79d5a9949abbc555{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps1979 */
#map_aa87c32bdbfc56802d94a6d60b158f3c, #map_0e4dc67731c7bb5b1eea97e901afc3cf,
#map_02f3629fa96516577868d8b9caf9649a, #map_56e68e62f0394061d0b238d0063b1eac,
#map_5dfc49507343ff3b3f503e83a302e8e7, #map_3607ed7137c8d4c93124010509c859fa,
#map_72c8478f76f567efa1643339f6bbb7bf, #map_07478eb09605ca397045eaf630a9ae02,
#map_07d0cab0c7b59e2eb64422113fce7401, #map_2d1588d596a9467f9c713575d4a200fe,
#map_b92fd30417037ef8c14858136be479a4, #map_60ef73c1ebff8217e982d54a3275e899,
#map_953691034030ff0b793f2420c490ba3d{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps 1970 */
#map_235636e5646e0bd00a7e96766df97f23, #map_9221ccdbfcead9316edaeb3adceba96c,
#map_1cbf1e81b5d51d0d9e26e522c05898e2, #map_32441529ac0c61950e5c7038040025ad,
#map_43bab48387494e8cbf93a61b94111b5e, #map_a3b7841bc7841d555439f29560d22832,
#map_11f116c3daececa5bafba2564f2f1102, #map_b06885b06e5962bc630775ab5c4826fb,
#map_8562a77f6900d576ea7413e3f306973c, #map_0c82f3b53dc6098ac4915d39f1681e09,
#map_daf98e26a594a5d023cc6b35a7014471, #map_a53567ddfb98e796a1bb2ef2986d63e8,
#map_82e1d06311eecd0056fe0f7db1119199, #map_4037ac3e99b4bb56619e193e92d6a275,
#map_8b24a8d9dd71c3149461f97012e213b8, #map_299d757011b0c73d6186db87b3b923f0,
#map_9fc701da77ccb1faee62d4d6d764b741, #map_d53e17a1f81c86fca794c0585b25d093{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps 1959 */
#map_c06f9a41fc84eeb4e225657b6fb3780e, #map_3c2a2fac420b2330fbca7e91b15ebf89,
#map_29b6eefcc112cc42eefb64065fa9edaf, #map_d911bda13ef78433c157cd9a0ae9257c,
#map_78c182de3b6b94a057edebcfa8688554, #map_41c87abbfef1628ed5ddd767a648e901,
#map_fa738c668048df37a220d1dc9a79a16a, #map_70eea7d28a73a5361358ea021989c9f6,
#map_5a4c7fb839fdd1a4125f93c1593043ea, #map_41db3723ad8af0d131f67a60656210e2,
#map_013cdaddfb72729679659d2ba727d7f1, #map_7e7598b7ecfcb9b0bc0c31bd1290992b,
#map_23c86cac48937b728d87e4842eae1cf2, #map_d5a5f6032ba47c58bef5e699d9690357{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps 1927 */
#map_5ef298458bd559518a3fbd8f33cb6624, #map_3cf9194f8cfb4b5e6867f9948e36c9bc,
#map_be53313588f8adc7542e6538a83e520a, #map_9cd6e624b2859e6d049c3f4e8a129497,
#map_cf29f7465bf8b5a90e599ca4d09b5bdf, #map_8abb514f26dc59116218d5f041c227fa,
#map_5fff4eee6c97ea93028aeb7011a204f9, #map_bbaef37eeadce60471f7f0458817bcde,
#map_e9a8042ab0107fe8c2462c6ca06b2e34, #map_55293cfc28a39117777ba1a02ecdc3c4,
#map_c060deeeb002fe510b795375950ec65e, #map_97a3deb88f28571a162b7167e68f4f9b,
#map_b1b6051ddc786f9e702ec63cbe7f46b9, #map_955a5990893665dcbe87553d0ac5aa4a,
#map_f8ff19ae3e4323d0a05333a13da36429, #map_ba1246e27c15aa05c31676b94d1ff28c,
#map_a608b0c427b7d15c26c76a63a5fd1291{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

/* maps 1910 */
#map_61694fa678eb95225a845742e79b32c2, #map_7926a63ccdeee9b05b62337c6bcb2856,
#map_edb70c8cd339d8184fee92498c63147b, #map_d07929aebd24d16965a45edba5dab2fd,
#map_e4b461a5808974806d76e98c2e094301, #map_bebd4874e68d9ba41b1566ea720665ef,
#map_af8945cc243864edd85642006a8ead04, #map_3d612726123f33c96aebffe1e84bd507,
#map_bdffb16c64395960280fc308b9c074a8, #map_522b856229ac790de81399b3ca843f4f,
#map_b315002e82528fa8cb877ad9bca62e0f, #map_b447e26f370afc0dbaccf2fd6826acb6,
#map_e4ea04fded9f9c0ff637bb2cec20f44b{
    position: relative;
    width: var(--mapWidth);
    height: var(--mapHeight);
    left: 0.0%;
    top: 0.0%;
}

#g.key {
    position: absolute;
    right: 0;
}